<p id="notice"><%= notice %></p>

<p><%= link_to "#{fac.name}", "#{fac.website}", :target => '_blank' %></p>
<p><%= @facility.phone %></p>
<br>

<!-- This gives me a loop for the selected book which lists all of the reviews for the book by user name and review -->
<% @facility.comments.each do |comment| %>
	<p><%= comment.user.user_name %>:</p>
	<p><%= comment.content %></p>
	<p><%= comment.datetime %></p>
<% end %>

<!--
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
-->