<div id="main-content">

<h2>Find Your Fit</h2>

<% @groups.each do |g| %>
   <% if !g.activities.empty? %> 
    <button type="button" class=<%= "grp" + g.id.to_s %>><%= g.name %></button>
  <% end %> 
    
    <ul id=<%= "grp" + g.id.to_s %>>
    <% g.activities.each do |act| %>
      <li class="sport"><%= act.name %>

<!-- for each activity, collect the neighborhoods that offer the activity -->
        <% act.neighborhood_activities.collect { |a| a.neighborhood} %>

<!-- for each activity, collect the facilities that offer the activity -->
        <% act.facility_activities.collect { |a| a.facility} %>

<!-- for each neighborhood that offers the activity, print the neighborhood name -->
        <ul>
        <% act.neighborhoods.each do |neigh| %>
          <li><%= neigh.name %>

<!-- for each facility that offers the activity, if it's in the neighborhood, print the facility name and phone -->
            <ul>
            <% act.facilities.each do  |fac| %>
              <% if neigh.name == fac.neighborhood.name %>
                <li><%= link_to "#{fac.name}", "#{fac.website}", 
                :target => '_blank' %><br>
                <span>Phone: <%= fac.phone %></span><br>
                <%= link_to "View Comments", fac %><br><br></li>
              <% end %>
            <% end %>
            </ul> 
        <% end %>
        </ul>
    <% end %>
    </ul>
<% end %>			

</div><!--close main-content -->

    <div id="map">

      <h2></h2>

      <div id="flexible-container">
        
        <div id="about">

          <button type="button" id="about-button"><span>Fit in the City | NYC</span> is the go-to resource to help you find out where to pursue the fitness activities you love and to give you the inside scoop on what others are saying about these facilities.</button>

        </div>

      </div> 

    </div>