<div id="show_facility_comments">

<%= will_paginate @facility_comments %>
<br>

<h4><%= link_to "#{@facility.name}", "#{@facility.website}", :target => '_blank' %>, Phone: <%= @facility.phone %></h4>

<% @facility_comments.each do |comm| %>
	<div class="display_comment">
		<p><span>Comment: </span><%= comm.content %></p>
	    <p><span>- posted by: </span><%= comm.user.user_name %> on 
	    	<%= comm.created_at.strftime("%B %e, %Y at %I:%M %p") %></p>
	</div>
<% end %>

</div>