<div id="show_facility_comments">

<%= will_paginate @facility_comments %>
<br>

<p>User comments for: <%= link_to "#{@facility.name}", "#{@facility.website}", :target => '_blank' %>, phone: 
	<%= @facility.phone %></p><br>

<% @sorted_facility_comments.each do |comm| %>
	<p>Comment: <%= comm.content %></p>
    <p>- posted by <%= comm.user.user_name %> on 
    	<%= comm.created_at.strftime("%B %e, %Y at %I:%M %p") %></p>
<% end %>

</div>