<p>User comments for: <%= link_to "#{@facility.name}", "#{@facility.website}", :target => '_blank' %>, phone: 
	<%= @facility.phone %></p>

<% @sorted_facility_comments.each do |comm| %>
	<p>Comment: <%= comm.content %></p>
    <p>Posted by: <%= comm.user.user_name %> on 
    	<%= comm.created_at.strftime("on %B %e, %Y at %I:%M %p") %></p>
<% end %>