<h1>Hi this is static_pages/test.html.erb</h1>
<br />
<br />
<br />
<br />
<br />
<% @groups.each do |g| %>
		
	<% if !g.activities.empty? %> 
		<p>Group name: <%= g.name %></p>
	<% end %> 
		
		<% g.activities.each do |act| %>
			<p>Activity name: <%= act.name %></p>

<!-- for each activity, collect the neighborhoods that offer the activity -->

			<% act.neighborhood_activities.collect { |a| a.neighborhood} %>

<!-- for each activity, collect the facilities that offer the activity -->

			<% act.facility_activities.collect { |a| a.facility} %>


<!-- for each neighborhood that offers the activity, print the neighborhood name -->

			<% act.neighborhoods.each do |neigh| %>
				<p>Neighborhood: <%= neigh.name %></p>

<!-- for each facility that offers the activity, if it's in the neighborhood, print the facility name and phone -->
			<% act.facilities.each do  |fac| %>
					<% if neigh.name == fac.neighborhood.name %> 
						<p>Facility Name: <%= fac.name %></p>
						<p>Phone: <%= fac.phone %></p>
						<p>Website: <%= fac.website %></p><br>
						<% fac.comments.each do |comm| %>
							<p><%= comm.content %></p>
							<p><%= comm.user_id %></p>
						<% end %>
					<% end %>
				<% end %>	
			<% end %>

		<% end %>
<% end %>